---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
import Stack from "../components/Stack.astro";
import Work from "../components/Work.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Inzimam Ul Haq — Full Stack Engineer">
  <main class="">
    <Nav />
    <Hero />
    <Stack />
    <div class="flex">
      <Work />
      <Education />
    </div>

    <Projects />
    <Contact />
  </main>
</Layout>
