---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Inzimam Ul Haq — Full Stack Engineer">
  <Nav />
  <Hero />
  <div class="flex">
    <Work />
    <Education />
  </div>
  <Projects />
  <Contact />
</Layout>
