---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <h1 class="text-3xl font-bold underline text-arctic">Hello world!</h1>
    <div class="p-4 bg-mint"></div>
    <div class="p-4 bg-forsythia"></div>
    <div class="p-4 bg-saffron"></div>
    <div class="p-4 bg-nocturnal"></div>
    <div class="p-4 bg-noir"></div>
  </main>
</Layout>
