<div
  class="w-1/2 max-w-[620px] rounded-2xl border border-zinc-100 px-16 py-5 dark:border-zinc-700/40"
  id="education"
>
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-hidden="true"
      class="h-6 w-6 flex-none"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        class="fill-zinc-100 stroke-forsythia dark:fill-zinc-100/10"
        d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
      ></path>
    </svg>

    <span class="ml-3 flex items-center font-title text-lg">Education</span>
  </h2><ol class="mt-6 space-y-4">
    <li class="flex gap-4">
      <div
        class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
      >
        <img
          alt="Logo"
          loading="lazy"
          width="34"
          height="32"
          decoding="async"
          data-nimg="1"
          class="h-7 w-7 rounded-full object-cover"
          style="color:transparent"
          src=""
        />
      </div><dl class="flex flex-auto flex-wrap gap-x-2">
        <dt class="sr-only">Company</dt><dd
          class="flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100"
        >
          ABC
        </dd><dt class="sr-only">Date</dt><dd
          class="ml-auto text-xs text-zinc-400 dark:text-zinc-500"
          aria-label="2021 until Present"
        >
          <time datetime="2021">2021</time>
          <span aria-hidden="true">—</span>
          <time datetime="Present">Present</time>
        </dd><dt class="sr-only">Role</dt><dd
          class="w-full text-xs text-zinc-500 dark:text-zinc-400"
        >
          Full Stack Developer
        </dd>
      </dl>
    </li>
  </ol>
</div>
