---
import Shimmer from "./Shimmer";
import { Image } from "astro:assets";
import profilePic from "../img/profile1.jpeg";
---

<section id="about" class="max-w-screen-3xl scroll-mt-[120px] pb-20 text-white">
  <Shimmer client:visible>
    <Image
      src={profilePic}
      alt="Profile picture"
      class="mx-auto max-h-80 max-w-80 rounded-3xl"
    />
  </Shimmer>
</section>
