---
import { motion } from "framer-motion";
import Hero from "./Hero.astro";
import Nav from "./Nav.astro";
import Stack from "./Stack.astro";
import Work from "./Work.astro";
import Education from "./Education.astro";
import Projects from "./Projects.astro";
import Contact from "./Contact.astro";
---

<main class="animate">
  <div class="item">
    <Nav />
  </div>
  <div class="item">
    <Hero />
  </div>
  <div class="item">
    <Stack />
  </div>
  <div class="item flex">
    <Work />
    <Education />
  </div>
  <div class="item">
    <Projects />
  </div>
  <div class="item">
    <Contact />
  </div>
</main>

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate {
    animation: fadeIn 0.5s ease-in-out;
  }

  .item {
    animation: fadeIn 0.5s ease-in-out;
    animation-delay: 0.5s; /* Adjust this to change the delay between items */
  }
</style>
