---
import AnimatedTabs from "./Tabs";
---

<nav
  class="group h-20 flex justify-between sticky top-0 opacity-100 z-50 backdrop-blur-md w-full items-center px-20 tracking-[2px]"
>
  <a
    href="/"
    class="text-noir text-2xl rounded-t-2xl bg-forsythia px-2 py-1 backdrop-opacity-0 font-title font-bold lg:group-hover:animate-flare"
  >
    IUH
  </a>
  <AnimatedTabs client:load />
</nav>
