.shimmer-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: inherit;
  z-index: 1;
}

.shimmer-effect {
  z-index: 2;
}

.shimmer-container {
  --border-bottom-width: 0px;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-left-width: 0px;
  --border-right-width: 0px;
  --border-style: solid;
  --border-top-width: 2px;
  border: 0;
  align-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.22) 0.16693224965313064%,
    rgba(255, 255, 255, 0) 87.03547297297297%
  );
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: center;
  left: 80px;
  max-width: 1320px;
  overflow: hidden;
  padding: 2px;
  position: absolute;
  right: 80px;
  /* top: 55%; */
  will-change: var(--framer-will-change-override, transform);
  z-index: 3;
}

.char {
  position: relative;
  transition: all 0.3s ease;
  white-space: pre-wrap;
}
.char::after {
  content: attr(data-char);
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke: 1px black;
  transition: all 0.3s ease;
  transform: scale(1);
  opacity: 0;
}
.char:hover {
  transform: scale(1.2);
  color: #ff0000; /* Added color change on hover */
}

.char:hover::after {
  transform: scale(1.2);
  opacity: 1;
}
